{% extends 'baseteacher.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock title %}


{% block content %}

<div class="col-md-8 float-left">


    <h1>{{title}}</h1>
    {% if userprofile %}
    <div class="alert alert-info">
        Avvalgi parol: {{userprofile.password}}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Run</button>

    </form>
<br></div>

{% endblock content %}
