<div class="card grey lighten-3 chat-room" style="display: block; height: 100%; overflow: scroll;">
  <div class="card-body">

    <!-- Grid row -->
    <div class="row px-lg-2 px-2" style="display: block; width: 100%;">



      <!-- Grid column -->
      <div class="">

        <div class="chat-message">

          <ul class="list-unstyled chat">
            <div id="chatpart">
<!--                <li class='d-flex mb-4 pb-3' style='display: block; width:100%'><div class='chat-body blue text-white p-3 ml-2 z-depth-1'><div class='header'><strong class='primary-font'>" +chat.sender.user.last_name+"</strong><small class='pull-right text-muted'><i class='far fa-clock'></i>" +chat.date.strftime("%H:%M:%S")+"</small></div><hr class='w-100'><p class='mb-0'>"+chat.context+"</p></div></li>-->
<!--            <li class="d-flex justify-content-between mb-4">-->

<!--              <div class="chat-body white p-3 ml-2 z-depth-1">-->
<!--                <div class="header">-->
<!--                  <strong class="primary-font">Brad Pitt</strong>-->
<!--                  <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>-->
<!--                </div>-->
<!--                <hr class="w-100">-->
<!--                <p class="mb-0">-->
<!--                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
<!--                  labore et dolore magna aliqua.-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="d-flex justify-content-between mb-4">-->
<!--              <div class="chat-body white p-3 z-depth-1">-->
<!--                <div class="header">-->
<!--                  <strong class="primary-font">Lara Croft</strong>-->
<!--                  <small class="pull-right text-muted"><i class="far fa-clock"></i> 13 mins ago</small>-->
<!--                </div>-->
<!--                <hr class="w-100">-->
<!--                <p class="mb-0">-->
<!--                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque-->
<!--                  laudantium.-->
<!--                </p>-->
<!--              </div>-->

<!--            </li>-->

<!--            <li class="d-flex justify-content-between mb-4 pb-3">-->
<!--              <div class="chat-body blue text-white p-3 ml-2 z-depth-1">-->
<!--                <div class="header">-->
<!--                  <strong class="primary-font">Brad Pitt</strong>-->
<!--                  <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>-->
<!--                </div>-->
<!--                <hr class="w-100">-->
<!--                <p class="mb-0">-->
<!--                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
<!--                  labore et dolore magna aliqua.-->
<!--                </p>-->
<!--              </div>-->
<!--            </li>-->
            </div>
            <li class="white">
              <div class="form-group basic-textarea">
                <textarea class="form-control pl-2 my-0" id="chatFormControlTextarea2" rows="2" placeholder="Type your message here..."></textarea>
              </div>
            </li>
            <button type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right" id="sendchat">Send</button>
          </ul>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
</div>